* {
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
/*#rectangle{
    width: 50px;
    height: 50px;
    background: yellow;
    text-align: center;
    vertical-align: middle;
}*/

#wrapper{
    width: 95%;
    height: 100%;
    margin: 10px auto;
    font-family: sans-serif;
}

table{
    background-color: #eeeeee;
    border: 1px solid black;
    border-collapse: collapse;
}

td, th{
    width: 50px;
    height: 50px;
    border: 1px solid #737373;
}

th{
    font-weight: normal;
    font-size: small;
}
td{
    text-align: right;
    vertical-align: top;
    font-size: small;
}

